/* My settings
-------------------------------------------------- */
.profile-color{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
    
}
.skin-img{
    margin: 10px 0 0 0;
    display: block;
    border: solid 4px $app-border-color;
    max-width: 240px;
    max-height: 240px;
}
.profile-color:hover{
    text-decoration: none;
    
}
.profile-color.active{
   border: solid 2px #000;
    
}